@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800;900&display=swap');
:root{
    --first-color: rgb(0, 103, 228);
    --second-color:rgb(239, 148, 0);
    --second-color-op:rgba(239, 147, 0, 0.222);
    --dark-color:rgb(11, 11, 11);
    --white-color:rgb(255, 255, 255);
    --white-color-op:rgb(241, 241, 241);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;  
    text-transform: capitalize; 
    scroll-behavior: smooth;
}
body{
    background-color: var(--first-color);
    color: var(--white-color);
}
/*============ nav bar ============*/
.navbar{
    background-color: var(--first-color);
}
.navbar .navbar-nav .nav-link,
.navbar .navbar-brand{
    color: var(--white-color);
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--second-color);
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active{
    border: none;
    box-shadow: none;
    color: var(--white-color);
    transition: 0.4s ease;
}
.navbar-toggler[aria-expanded="true"] {
    color: var(--second-color);
}
.search{
    border-left: 2px solid var(--second-color);
}
.search svg{
    color: var(--second-color);
}
.btn-primary{
    background-color: var(--second-color);
    border: none;
    color: var(--white-color);
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-in-out;
}
.btn-primary:hover{
    background-color: var(--white-color);
    color: var(--first-color);
}
/*============ start landing ============*/
.landing{
    min-height: calc(50vh - 63.98px);
}
/*============ start features ============*/
.features,
.stuff,
.blog{
    background-color: var(--white-color);
    color: var(--dark-color);
    min-height: 80dvh;
}
.features .icon-holder{
    height: 200px;
}
.features .icon-holder svg{
    left: 50%;
    transform: translateX(-50%);
}
.features .icon-holder .number{
    font-size: 12rem;
    color: var(--white-color-op);
}
.features .icon-holder .icon{
    font-size: 6rem;
    color: var(--second-color);
}
.features h4{
    color: var(--second-color);
}
.main::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--first-color);
}
.features .main svg,
.stuff .main svg,
.blog .main svg{
    color: var(--second-color);
}
/*============ our-work ============*/
.our-work .main::after{
    background-color: var(--white-color);
}
.our-work ul .active{
    background-color: var(--second-color);
    border-radius: 25px;
    cursor: pointer;
}
.our-work ul li{
    padding: 0.5em 1em;
    transition: 0.4s ease-in-out;
} 
.our-work ul li:not(.active):hover{
    color: var(--second-color);
}
.our-work .box{
    padding: 5px;
}
.our-work .box::before{
    content: attr(data-work);
    position: absolute;
    background-color: var(--second-color-op);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    top: 5px;
    transform: translatey(calc(-100% - 10px) );
    transition: 0.5s ease-in-out;
}
.our-work .box:hover::before{
    transform: translateX(0);
}
/*============ stuff ============*/
.stuff .des{
    max-width: 500px;
}
/*============ our-team ============*/
.our-team .box{
    color: var(--dark-color);
}
.our-team .box h4{
    background-color: var(--second-color);
    color: var(--white-color);
}
.our-team p,
.project p{
    max-width: 500px;
}
.techs{
    background-color: var(--white-color);
}
/*============ sub ============*/
.sub{
    background-color: var(--second-color);
}
.sub form input[type="text"]{
    border: none;
    border-bottom: 2px solid var(--white-color);
    background-color: transparent;
    outline: none;
    padding: 5px;
}
.sub form input::placeholder{
    color:wheat;
}
.sub form input:focus{
    color:var(--white-color);
    padding: 5px;
}
.sub input[type="submit"] {
    color: var(--white-color);
    background-color: var(--dark-color);
    border: none;
    border-radius: 50px;
    padding: 10px 0;
}
/*============ footer ============*/
.footer .copyright p span{
    color: var(--second-color);
    margin-left: 5px;
}
.footer .copyright div span{
    color: var(--white-color-op);
}
.footer .contact ul svg {
    width: 20px;
    height: 20px;
}
.footer .facebook{
    background-color: rgb(23, 23, 255);
}
.footer .instagram{
    background-color: rgb(233, 75, 75);
}
.footer .youtube{
    background-color: rgb(215, 0, 0);
}
.footer .twitter{
    background-color: rgb(23, 154, 255);
}
